# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare

In [30]:
print("Hello world!")

Hello world!

## Kommentare

In [31]:
# Das ist ein Kommentar
print("Hello world!")

Hello world!

## Einfache Datentypen

In [32]:
# Variablen und Wertezuweisung (Value-Assignment)
# String = Zeichenkette
name = "Hawking"
print(name)

Hawking

In [33]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [34]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [35]:
# Bolean - Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [36]:
type(name)

str

In [37]:
name
age

73

In [38]:
print(name)

Hawking

## Operatoren

In [39]:
5 + 5

10

In [40]:
age * 100

7300

In [41]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [42]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [43]:
name + "10"

'Hawking10'

In [44]:
type(size)

float

In [45]:
type(age)

int

In [46]:
size/age

0.023456164383561642

In [47]:
number_of_articles = "50"

In [48]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
int(number_of_articles) / 10

In [ ]:
type(number_of_articles)

In [ ]:
zahl = 5
andere_zahl = 6

In [ ]:
zahl + andere_zahl

In [ ]:
# Befehl für jupyter-notebook
%who

In [ ]:
zahl = 20

In [53]:
zahl = "10"
print(int(zahl) + 33)
type(zahl)
print(zahl + 33)

43

TypeError: can only concatenate str (not "int") to str

In [54]:
Ganzzahl = int(zahl)

In [55]:
zahl = int(zahl)

## Funktionen und Methoden

In [56]:
len(name)

7

In [57]:
name.upper()

'HAWKING'

In [58]:
name

'Hawking'

In [59]:
name = name.upper()
print(name)

HAWKING

In [61]:
name.replace("W", "BLAAAAA")

'HABLAAAAAKING'

In [62]:
first_name = "Anna"

In [66]:
first_name.count?

In [65]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [67]:
names = ["Darwin", "Hawking", "Curie"]

In [68]:
names[1]

'Hawking'

In [69]:
names[0]

'Darwin'

In [70]:
names[2]

'Curie'

In [71]:
len(names)

3

In [72]:
names[-1]

'Curie'

In [73]:
names[0:2]

['Darwin', 'Hawking']

In [74]:
names[:2]

['Darwin', 'Hawking']

In [75]:
slice_value = 2

In [76]:
names[slice_value]

'Curie'

In [81]:
names[1:]

['Hawking', 'Curie']

In [82]:
names[:slice_value]

['Darwin', 'Hawking']

In [83]:
names[slice_value:]

['Curie']

In [88]:
# Dictionary
authors_and_ages = {"Darwin": 73,
                    "Goethe": 83, 
                    "Loveclace": 37}

In [87]:
authors_and_ages["Darwin"]

73

In [91]:
authors_and_ages = {"Darwin": "dreiundsiebzig",
                    "Goethe": names, 
                    "Loveclace": 37}

In [90]:
authors_and_ages["Darwin"]

'dreiundsiebzig'

In [92]:
authors_and_ages["Goethe"]

['Darwin', 'Hawking', 'Curie']

In [93]:
names.append("Kleist")

In [94]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [95]:
authors_and_ages["Rowling"] = 53

In [96]:
authors_and_ages

{'Darwin': 'dreiundsiebzig',
 'Goethe': ['Darwin', 'Hawking', 'Curie', 'Kleist'],
 'Loveclace': 37,
 'Rowling': 53}

## for-Schleife

In [97]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [106]:
for name in names:
    print(name + " is a great name")
    print("he")
print("ho")

Hawking is a great name
he
Curie is a great name
he
ho

In [102]:
del(names[0])

In [103]:
names

['Hawking', 'Curie']

## Bedingte Anweisungen (Conditionals)

In [109]:
temp = 10
if temp > 15:
    print("It's warm")

In [108]:
20 > 15

True

In [112]:
temp = 15
if temp >= 15:
    print("it's warm")
else:
    print("it's cold")

it's warm

In [113]:
temp = 30
if temp >= 15:
    print("it's warm")
elif temp >= 25:
    print("it's hot")
else:
    print("it's cold")

it's warm

In [115]:
temp = 15
if temp >= 25:
    print("it's hot")
elif temp >= 15:
    print("it's warm")
else:
    print("it's cold")

it's warm